/* ------- Global styles ------- */

body {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: Bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: Bold;
}

h3 {
  font-size: 23px;
  font-weight: Bold;
}

a {
  color: white;
  font-size: 18px;
  line-height: 32px;
}

p {
  font-family: Helvetica;
}

.email {
  color: blue;
  font-size: 14px;
}

.copyright {
  font-size: 11px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

/* ------- Header ------- */

#header {
  background-image: url(../img/the-flatiron-building.png);
}

.nav {
  list-style: none;
}

/* ------- New York ------- */

#newyork {
  margin-top: 40px;
}

#newyork h3 {
  color: white;
  background-image: url(../img/the-flatiron-building.png);
}

/* ------- Footer ------- */

#footer {
  overflow: hidden;
  background-color: dimgray;
}

#footer li {
  float: left;
  margin: 10px;
}
